*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-size: 60px;
}
.main{
    display: flex;
    gap: 20px;
    height: 80px;
    align-items: center;
    margin-left: 30px;
}
.fa-arrow-pointer{
    font-size: 40px;
    position: absolute;
    z-index: 99999;
    display: flex;
}
input{
    position: relative;
    display: none;
}


